---
import type { Frontmatter } from '@/types/site'
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
import Section from '@/components/Section.astro'
import ScrollWatcher from '@/components/ScrollWatcher.astro'
import Quote from '@/components/Quote.astro'
import { author } from '@/data/author'
import { headerLinks, footerLinks, socialLinks } from '@/data/links'
import { projects } from '@/data/projects'
import { site } from '@/data/site'
import Head from '@/components/Head.astro'

export interface Props {
  classes?: string
  frontmatter: Frontmatter
}

const { classes = '', frontmatter } = Astro.props
---

<!doctype html>
<html
  lang="es"
  dir="ltr"
>
  <head>
    <Head
      author={author}
      frontmatter={frontmatter}
      projects={projects}
      site={site}
      socialLinks={socialLinks}
    />
  </head>

  <body class={`${classes} ${import.meta.env.DEV ? 'debug-screens' : ''}`}>
    <slot name="header">
      <ScrollWatcher />
      <Header
        author={author}
        links={headerLinks}
      />
    </slot>

    <main
      class={`${classes} flex flex-1 flex-col pb-8 pt-12 lg:pt-16 md:px-5 lg:px-12`}
      id="main-content"
    >
      <Section>
        <slot />

        <Quote quote={frontmatter.quote} />
      </Section>

      <slot name="footer">
        <Footer
          author={author}
          footerLinks={footerLinks}
          socialLinks={socialLinks}
        />
      </slot>
    </main>
  </body>

  <Fragment set:html={site.easter_egg} />
</html>
